<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head">
</head>
<body>
    <header th:replace="layout/layout ::header"></header>    
 
    <section id="main">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Usuarios</a>
            </li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-md-8 col-sm-6 col-12">

                     <h3>Lista de todos los usuarios: <span class="label label-danger" th:text="${contador}"></span> 
                        <div class="d-flex justify-content-between">
                            <a th:href="@{/equipo/form}" class="btn btn-info"><i class="fas fa-plus fa-2x"></i></a>
                            </button>
                            <nav class="navbar navbar-light bg-light">
                                <form class="form-inline d-flex justify-content-between">
                                  <input class="form-control mr-sm-2" type="text" placeholder="Busqueda">
                                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                                </form>
                              </nav>
                        </div>
                    </h3>
                        <div class="hr-div"> <hr />
                        </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>MARCA</th>
                                            <th>MODELO</th>
                                            <th>RAM</th>
                                            <th>DD</th> 
                                            <th>PROCESADOR</th>
                                            <th>VELOCIDAD</th>
                                            <th>SERIE</th>
                                            <th>DISPONIBILIDAD</th>
                                            <th>OPCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each ="equipo: ${equipos}">
                                            <td class="bg-info"><a th:href="@{'/equipo/' + ${equipo.id}}"  th:text ="${equipo.id}" class="bg-info text-white"></a> </td>
                                            <td th:text ="${equipo.marca}"></td>
                                            <td th:text ="${equipo.modelo}"><span class="label label-info"></span></td>
                                            <td th:text ="${equipo.ram}"></td>
                                            <td th:text ="${equipo.ddRam} + 'GB'"></td>
                                            <td th:text ="${equipo.procesador}"></td>
                                            <td th:text ="${equipo.velocidadProcesador} + 'GHz'"></td>
                                            <td th:text ="${equipo.serie}"></td>
                                            <td th:if="${equipo.equipoAsignado}"><a th:href="@{'/empleado/' +  ${empleado.id}}">Ver</a></td>                                            
                                            <td th:unless ="${equipo.equipoAsignado}"><a th:href="@{'/asignacion/' + ${equipo.id} }">Asignar equipo</a></td>
                                            <td ><a th:href="@{'/equipo/form/' + ${equipo.id}}"><i class="fas fa-edit"></i></a>
                                                <a th:href="@{'/equipo/eliminar/' + ${equipo.id} }"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
            
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <nav aria-label="...">
                                    <ul class="pagination">
                                      <li class="page-item disabled">
                                            <a class="page-link" href="#!" tabindex="-1">Previous</a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                      <li class="page-item active">
                                        <a class="page-link" href="#!">2 <span class="sr-only">(current)</span></a>
                                      </li>
                                      <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                      <li class="page-item">
                                        <a class="page-link" href="#!">Next</a>
                                      </li>
                                    </ul>
                                  </nav>
                            </div>

                </div>

                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div th:replace="layout/layout :: admin-menu"> </div>
                </div>

            </div>
        </div>
    </section>

    <div th:replace="layout/layout :: script"></div>
</body>
</html>
