<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head">
</head>
<body>
    <header th:replace="layout/layout ::header"></header>    
 
    <section id="main">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin}">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/inventario}">Inventario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Equipo</a>
            </li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-md-8 col-sm-6 col-12">

                    <div class="hr-div"> <hr />
                    </div>


                    <div class="card bg-light">
                        <div class="card-header" th:text = "${titulo}"></div>
                        <ul class="list-group">
                            <li class="list-group-item" th:text = "${equipo.marca} " style="text-align: center;"></li>
                            <li class="list-group-item"  th:text = "${equipo.modelo}" style="text-align: center;"></li>
                            <li class="list-group-item"  style="display: flex; justify-content: space-around;">
                                <span  th:text = "'RAM: '+ ${equipo.ram} +  'GB'"></span>       
                                <span  th:text = "'DD: '+ ${equipo.ddRam} +  'GB'"></span>       
                            </li>

                            <li class="list-group-item"  style="display: flex; justify-content: space-around;">
                                <span  th:text = "'PROCESADOR: '+${equipo.procesador} "></span>            
                                <span  th:text = "'VEL: '+${equipo.velocidadProcesador} + 'GHz'"></span>    
                            </li>

 
                        </ul>
                        <div class="table-responsive">
                            
                        <div class="card-header" th:text = "'Dispositivos asignados'" style="text-align: center;"></div>

                        </div>
                    </div>


                </div>

                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div th:replace="layout/layout :: admin-menu"> </div>
                </div>

            </div>
        </div>
    </section>

    <div th:replace="layout/layout :: script"></div>
</body>
</html>
