<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout ::head">
</head>

<body>
    <header th:replace="layout/layout ::header"></header>

    <section id="main">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Form</a>
            </li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-md-9 col-sm-6 col-12">
                    <div class="card bg-light">
                        <div class="list-group">
                            <div class="card-header" th:text="${titulo}"></div>
                        </div>
   
                        <form th:action="@{/empleado/form/save}" th:object="${empleado}" method="POST">
                            <div style="width: 100%; display: flex; justify-content: center; padding: 10px 0px;">
                                <i class="fas fa-user  fa-3x"></i>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <label for="nombre">Nombre</label>
                                            <input type="text" name="nombre" th:field="*{nombre}">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="apeelido">Apellido</label>
                                            <input type="text" name="apellido" th:field="*{apellido}">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="correo">Correo</label>
                                            <input type="text" name="correo" th:field="*{correo}">
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="password">Restablecer contraseña</label>
                                            <input type="text" name="licencia" disabled id="password-user" th:field="*{password}">
                                            <button  type="button" class="btn btn-warning" id="btn-password"><i class="fas fa-unlock"></i></button>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="licencia">Licencia</label>
                                            <select class="form-select">
          
                                              </select>
                                              <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                                        </td>
                                        
                                    </tr>

                                    </tbody>
                                    <tfoot>

                                        <tr>
                                            <td>
                                                <button type="submit" class="btn btn-success" style="padding: 10px 20px; margin: 0px  10px;" id="btn-submit">Crear</button>
                                                <button type="reset" class="btn btn-info">Borrar</button>
                                            </td>

                                        </tr>
                                    </tfoot>
                                    
                                </table>
                                <input type="hidden" th:field="*{id}">
                            </div>
                        </form>
                    </div>


                </div>

                <div class="col-xl-2 col-md-3 col-sm-6 col-12">
                    <div th:replace="layout/layout :: admin-menu"> </div>
                </div>

            </div>
        </div>
    </section>

    <div th:replace="layout/layout :: script">

    </div>

</body>

</html>