<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head"></head>


<body>
    <div id="head">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a th:href="/">
                    <img src="assets/img/logo.png"  />
                        </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center" >
                     <img src="assets/img/top-mouse.png "  class="header-mid" />
                </div>
                
            </div>
        </div>
    </div>
    <section >
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="assets/img/up.png" class="img-responsive" />
                    <h3>Premium Support Company</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="assets/img/moniter.png" class="img-responsive img-max-width" />

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>Admin Login </h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Username / Email" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Your Password" />
                        </div>
                        <div class="form-group">
                            <a href="admin-dashboard.html" class="btn btn-success">Click To Login</a>
                        </div>
                        <a href="#">Forgot Password ?</a>

                    </form>
                </div>
            </div>

        </div>

    </section>
    
    <div id="footer">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>Physical Location</h3>
                    <p>
                        <i>Addresss :</i> 125/890 , New York Street,
                        <br />
                         United States of America (USA).
                         <br />
                       &copy; 2014 yourdomian | by <a href="http://www.binarytheme.com/" style="color:#fff;" target="_blank">binarytheme.com</a>
                   
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>Get Quick Help</h3>
                    <h4><span> Call: </span>+01-4589-987-567</h4>
                    <h4><span>E-mail: </span>info@domain.com</h4>
                    <h4><span>Skype:</span> sonasup</h4>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">

                    <h3>Subscribe For Updates</h3>
                    <form>

                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Your Email" />
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-danger">Click To Subscribe</button>
                        </div>
                    </form>
                </div>




            </div>

        </div>

    </div>
    <!--  Jquery Core Script -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="assets/js/bootstrap.js"></script>

</body>
</html>
