<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head">
</head>
<body>
    <header th:replace="layout/layout ::header"></header>    
 
    
    <section id="main" >

        <div class="row">

            <div class="col-xl-9 col-md-8 col-sm-6 col-12"> 
                <div class="row">

                        <div style="width: 100%; display: flex; justify-content: center; flex-flow: column nowrap;">
                            <div style="width: 100%;">
                                    <div class="img" style="width: 15%; height: 15%;">
                                        <img src="/assets/img/registro.png" style="width: 100%; height: 100%;">
                                    </div>
                            </div>
                            <div style="width: 100%;">
                                <form th:action="@{/proveedores}" th:method="get" th:object="${factura}">
                                    <label for="folio">Orden de compra</label>
                                    <input class="form-control" type="text" name="ordenCompra" placeholder="Orden de compra" th:field="oCompra">
                                    <button type="submit" class="btn btn-success">OK</button>
                                </form>
 
                            </div>
                            <div class="row" th:each="factura : ${facturas}">
                                <div style="width: 100%;">
                                    <label for="folio">Proveedor</label>
                                    <input class="form-control" type="text" name="proveedor" th:value="${factura.folio}" disabled>
                                </div>
                                <div style="width: 100%;">
                                    <label for="folio">Producto</label>
                                    <input class="form-control" type="text" name="proveedor" th:value="${factura.producto}" disabled>
                                </div>
                                <div style="width: 100%;">
                                    <label for="folio">Precio Total</label>
                                    <input class="form-control" type="text" name="proveedor" th:value="${factura.total}"  disabled>
                                </div>
                                <div style="width: 100%;">
                                    <label for="producto">Subir CFDI</label>
                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                </div>

                            </div>

                       
                            <div style="width: 100%; display: flex; justify-content: space-around;">
                            
                                <button type="submit" class="btn btn-success">  
                                        GENERAR COMPRA
                                </button>
                            </div>


                        </div>

                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                <div th:replace="layout/layout :: admin-menu"> </div>
            </div>

        </div>
        
    </section>


    
    <div th:replace="layout/layout :: script"></div>

</body>
</html>
