<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head">
</head>
<body>
    <header th:replace="layout/layout ::header"></header>    
 
    
    <section id="main" >

        <div class="row">

            <div class="col-xl-9 col-md-8 col-sm-6 col-12"> 
                <div class="row">


                        <div style="width: 100%; display: flex; justify-content: center; flex-flow: column nowrap;">
                            <div style="width: 100%;">
                                    <div class="img" style="width: 15%; height: 15%;">
                                        <img src="/assets/img/registro.png" style="width: 100%; height: 100%;">
                                    </div>
                            </div>



                            <div style="width: 80%; margin: auto;">
                                <form th:action="@{/proveedores/folio}" th:method="get" th:object="${factura}">
                                    <label for="folio">Folio de la compra</label>
                                    <input class="form-control" type="text" placeholder="Folio" th:field="*{folio}">
                                    <button type="submit" class="btn btn-info">  
                                       OK
                                     </button>
                                </form>
                            </div>
                            



                            
                            <div class="row" th:each="datos : ${facturas}" style="width: 80%; margin: auto;">
                                <div style="width: 100%;" th:text="${info}"> </div>
                            <form th:action="@{'/proveedores/folio/save/' + ${datos.folio} }" method="POST" th:object="${datos}" enctype="multipart/form-data">
                                <div style="width: 100%;">
                                    <input class="form-control" type="hidden" th:name="id" th:value="${datos.id}" disabled>
                                    <label for="orden">Orden de compra</label>
                                    <input class="form-control" type="text" th:name="orden" th:value="${datos.ordenCompra}" disabled>
                                </div>
                                <div style="width: 100%;">
                                    <label for="folio">Producto</label>
                                    <input class="form-control" type="text" name="producto" th:value="${datos.producto}" disabled>
                                </div>
                                <div style="width: 100%;">
                                    <label for="folio">Precio Total</label>
                                    <input class="form-control" type="text" name="total" th:value="${datos.total}"  disabled>
                                </div>
                                <div style="width: 100%;">
                                    <label for="producto">Subir CFDI</label>
                                    <input type="file" class="form-control-file" id="cfdi" name="file">
                                </div> 

                        


                            </div>

                       
                            <div style="width: 100%; display: flex; justify-content: space-around;">
                            
                                <button type="submit" class="btn btn-success">  
                                        GENERAR COMPRA
                                </button>
                            </div>
                        </form>

                        </div>



                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                <div th:replace="layout/layout :: admin-menu"> </div>
            </div>

        </div>
        
    </section>


    
    <div th:replace="layout/layout :: script"></div>

</body>
</html>
