<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head">
<body>
    <header th:replace="layout/layout ::header"></header>    

    <section style="padding-top: 50px;">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  text-center">

                    <a href="open-tickets.html">
                        <div class="alert alert-success">
                            <i class="fas fa-folder fa-4x"></i>
                            <span class="label label-warning">Open Tickets</span>
                            <span class="label label-success">45</span>
                            <span>
                                New Open Tickets Which Are Not Replied Yet
                            </span>

                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  text-center">
                    <a href="ticket-history.html">
                        <div class="alert alert-warning">
                            <i class="fa fa-briefcase fa-4x"></i>
                            <span class="label label-success">Total Tickets</span>
                            <span class="label label-warning">2065</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <div th:replace="layout/layout :: admin-menu"> </div>
                </div>
            </div>


    </section>
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 alert alert-info" style="display: flex; flex-flow: column nowrap;">
                    <h3 class="text-center">Nuevo Ticket</h3>
                    
                   <form class="col-md-9 col-sm-12 alert alert-info">
                    <div class="row">
    
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label>Asunto</label>
                            <input type="text" class="form-control" required="required" placeholder="Asunto" />
                        </div>
    
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label>Description</label>
                            <textarea class="form-control" rows="14"></textarea>
                        </div>
    
    
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label>Selecciona categoria</label>
                                <select class="form-control">
                                    <option>Soporte tecnico</option>
                                    <option>Asistencia</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                                <label>Selecciona Prioridad</label>
                                <select class="form-control">
                                    <option>Muy alto </option>
                                    <option>Alto</option>
                                    <option>Medio</option>
                                    <option>Bajo</option>
                                </select>
                            </div>
    
    
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <button type="submit" class="btn btn-primary">Levantar ticket</button>
                            </div>

                    </div>

                    </form>

                </div>
                

            </div>
        </div>
    </section>


    <div th:replace="layout/layout :: script"></div>

</body>
</html>
