<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title th:text="'APPLY - ' + ${titulo}"></title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
</head>
<body>
    <header th:fragment="header" id="head">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a th:href="@{/}">
                        <div class="content-logo">
                            <img th:src="@{/assets/img/icono.png}"  />
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h4><span>Telefono TI: </span> 01-4589-987-567</h4>
                    <h4><span>E-mail TI:</span> soporte@apply.com</h4>
                </div>
                
            </div>
        </div>

    </header>
    

    <main th:fragment="main" class="container">



    </main>


    <div class="row" th:fragment="admin-menu">
        <div class="col-sm-12">
            <div class="list-group">
                <div sec:authorize ="isAuthenticated()">

                    <form th:action="@{/logout}" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <button type="submit" class="list-group-item active d-flex justify-content-between"> <span>Salir</span> <i class="fas fa-sign-out-alt fa-2x"></i></button>
                    </form>
                    
                </div>
                </a>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active justify-content-between" sec:authentication ="principal.authorities"></li>
                    </ol>
                </nav>
                <a th:href="@{/admin}" class="list-group-item"><i class="fas fa-sliders-h"></i>Admin</span></a>
                <a th:href="@{/user}" class="list-group-item"><i class="fas fa-home"></i><span sec:authentication="name"></span></a>
            </div>
            
        </div>
    </div>

    <div id="script" th:fragment="script">
        <script src="/assets/js/jquery-1.10.2.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        <script src="/fontawesome/js/all.min.js"></script>
        <script src="/assets/js/admin.js"></script>

    </div>


    <div id="script-user" th:fragment="script-user">
        <script src="/assets/js/jquery-1.10.2.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        <script src="/fontawesome/js/all.min.js"></script>
    </div>
</body>
</html>